.ceil {
  width: 64px;
  height: 64px;
}

.black {
  background-color: burlywood;
}

.white {
  background-color: lightgray;
}

.board {
  position: relative;
  margin: auto;
  display: flex;
  width: calc(64px * 8);
  height: calc(64px * 8);
  flex-wrap: wrap;
}
